<div class="card_size_guide">
  <div class="card_size_guide_overlay close_size_guide"></div>
  <div class="size_guide_popup_inner">
    <div class="size_guide_header">
      Size Guide
      <span class="close_size_guide"> 
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.75 0.75L0.75 10.75M0.75 0.75L10.75 10.75" stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round"/>
        </svg>
      </span>
    </div>
    <div class="size_guide_subheading"></div>
    <div class="cs-modal-inner-content">
      <div class="slider_size_info"></div>
      <div class="size_guide_p_img"></div>
      <div class="size_guide_popup_content cs-table">
      </div>
      <div class="slider-instructuions">
      </div>
      <div class="sizechart_note">
      </div>
    </div>
  </div>
</div>

<style>
  .variant_card_media .variant_list .variant_item .variant_card_size_guide {
    width: 100%;
    background-color: transparent;
    border: 0;
    padding: 7px 5px;
    font-size: 10px;
    line-height: 12px;
    font-weight:700;
  }
  @media (min-width: 768px) {
    .variant_card_media .variant_list .variant_item .variant_card_size_guide {
      padding: 21px 5px;
    }
  }
</style>
