.cart {
  position: relative;
  display: block;
}
.template-cart h1.title.title--primary {
    font-size: 20px;
    font-weight: 600;
}
.cart-items thead th {
    padding: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    background: #dcdcdc;
}
table.cart-items td {
    padding: 17px!important;
}

.drawer__contents table.cart-items td {
    padding: 0 !important;
}

@media(max-width:767px){
  table.cart-items td {
    padding: 5px!important;
  }
  .cart-item {
    gap: 0.5rem;
  }
   .drawer__contents table.cart-items td.cart-item__quantity {
    padding-top: 0px!important;
     /* display:none; */
  }
  button.button.button--tertiary.cart-remove-button {
    justify-content: end;
    /* margin-top: 12px; */
  }
}
div#main-cart-items {
    padding-bottom: 0rem;
}
.cart__footer .cart__blocks {
    border: solid 1px #f5f5f5;
    background: #f5f5f5;
    padding: 15px;
}
#main-cart-items table.cart-items {
    border: solid 1px #dcdcdc;
}
.cart__footer button#checkout {
    font-size: 12px;
    line-height: 15px;
    background: #e60013;
    color: #fff;
    text-decoration: unset;
    min-width: 160px;
    height: 48px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.drawer__inner-empty a.button {
    letter-spacing: -0.36px;
    color: #fff;
    font-weight: 400;
    line-height: 17.1px;
    display: inline-block;
    min-height: auto;
    font-size: 12px;
    background: #E60013;
    padding: 13px 21px;
    text-decoration: none;
    border-radius: 4px;
}

.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.cart__empty-text {
  margin: 6px 0 6px;
  font-size: 20px;
  line-height: 28.6px;
  text-align: center;
  font-weight:700;
  letter-spacing: -1.0px;
}

.cart__contents > * + * {
  /* margin-top: 2.5rem; */
  margin-top: 20px;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}
.cart__warnings a.button {
    letter-spacing: -.36px;
    color: #fff;
    font-weight: 400;
    line-height: 17.1px;
    display: inline-block;
    min-height: auto;
    font-size: 12px;
    background: #e60013;
    padding: 13px 21px;
    text-decoration: none;
    border-radius: 4px;
    margin: 20px auto 100px;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 7rem 0 1rem;
  }

  .cart__empty-text {
    margin: 6px 0 6px;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 5rem;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 6.5rem;
}

.cart__footer .discounts {
  margin-bottom: 1rem;
}

.cart__note {
  height: fit-content;
  top: 2.5rem;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  position: absolute;
  line-height: 1;
  height: 1.8rem;
  top: -3rem;
  color: rgba(var(--color-foreground), 0.75);
}

.cart__note .field__input {
  height: 100%;
  position: relative;
  border-radius: var(--inputs-radius);
  padding: 1rem 2rem;
}

.cart__note .text-area {
  resize: vertical;
}

.cart__note:after,
.cart__note:hover.cart__note:after,
.cart__note:before,
.cart__note:hover.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 4rem;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * {
    width: 35rem;
  }

  .cart__footer > * + * {
    margin-left: 4rem;
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas > * + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__dynamic-checkout-buttons:has(.dynamic-checkout__content:empty) {
  margin: 0;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: var(--buttons-radius-outset) !important;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  margin: 2.2rem 0 1.6rem auto;
  text-align: center;
  display: block;
}

.cart__checkout-button {
  max-width: 36rem;
}

.cart__ctas {
  text-align: center;
}


new-cart-drawer .cart__ctas {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}
.cart-drawer__empty-content-wrapper p {
  font-size: 10px;
  letter-spacing: -0.36px;
  font-weight: 400;
  margin: 0;
  line-height: 14.3px;
  color: #5C5C5C;
  margin-bottom: 28px;
}
img.cart-drawer__empty-image {
  width: 100%;
  max-width: 348px;
}

#CartDrawer .drawer__inner.gradient.color-scheme-1 {
  overflow-y: scroll;
}

body.open_oneCartDrawer {
  overflow: hidden;
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    margin-bottom: 2.2rem;
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    /* display: flex; */
    gap: 1rem;
  }
}

@media screen and (max-width:767px){
  .drawer__inner-empty a.button{
    font-size:10px;
  }
  .cart__empty-text {
    font-size: 12px;
    line-height: 15px;
  }
}
