.drawer {
  position: fixed;
  /* z-index: 1000; */
  z-index: 9999999999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(var(--color-foreground), 0.5);
  transition: visibility var(--duration-default) ease;
}

.drawer.active {
  visibility: visible;
}
.drawer.active:hover {
    text-decoration: none;
}

.drawer__inner {
  height: 100%;
  width: 48rem;
  max-width: calc(100vw - 3rem);
  padding: 0 1.5rem;
  border: 0.1rem solid rgba(var(--color-foreground), 0.2);
  border-right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform var(--duration-default) ease;
}

.drawer__inner-empty {
  height: 100%;
  padding: 0 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cart-drawer__warnings {
  /* display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center; */
  padding: 32px 0 0 17px;
}

cart-drawer.is-empty .drawer__inner {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0;
}

cart-drawer.is-empty .drawer__header {
  display: none;
}

cart-drawer:not(.is-empty) .cart-drawer__warnings,
cart-drawer:not(.is-empty) .cart-drawer__collection {
  display: none;
}

.cart-drawer__warnings--has-collection .cart__login-title {
  margin-top: 2.5rem;
}

.drawer.active .drawer__inner {
  transform: translateX(0);
}

.drawer__header {
  position: relative;
  padding: 30px 32px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drawer__heading {
  margin: 0 0 1rem;
}

.drawer__header-empty .drawer__heading {
    text-align: left;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
}

.drawer__close {
  display: inline-block;
  padding: 0;
  min-width: 4.4rem;
  min-height: 4.4rem;
  box-shadow: 0 0 0 0.2rem rgba(var(--color-button), 0);
  /* position: absolute; */
  /* top: 10px; */
  top: 18px;
  right: 33px;
  color: rgb(var(--color-foreground));
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: end;
}
 .tabbed-facets__tabs .drawer__close,
.drawer__header-empty .drawer__close{
    display:none;
 }

.cart-drawer__warnings .drawer__close {
  right: 5px;
}

.drawer__close svg {
  /* height: 2rem;
  width: 2rem; */
  height: 10px;
  width: 10px;
  stroke: #1a1a1a;
}

.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.drawer__footer {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.2);
  padding: 1.5rem 0;
}

cart-drawer-items.is-empty + .drawer__footer {
  display: none;
}

.drawer__footer > details {
  margin-top: -1.5rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
}

.drawer__footer > details[open] {
  padding-bottom: 1.5rem;
}

.drawer__footer summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 2.8rem 1.5rem 0;
}

.drawer__footer > details + .cart-drawer__footer {
  padding-top: 1.5rem;
}

cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-drawer__overlay:empty {
  display: block;
}

.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.cart-drawer__collection {
  margin: 0 2.5rem 1.5rem;
}

.cart-drawer .drawer__cart-items-wrapper {
  flex-grow: 1;
}

.cart-drawer .cart-items,
.cart-drawer tbody {
  display: block;
  width: 100%;
}

.cart-drawer tbody{
  border:0;
}

.cart-drawer thead {
  display: inline-table;
  width: 100%;
}

cart-drawer-items {
  /* overflow: auto; */
  flex: 1;
 padding: 0px 32px;
}

.cart-item__details a {
    font-size: 12px;
    line-height: 17.1px;
    letter-spacing: -0.36px;
    margin: 0;
}

@media screen and (max-height: 650px) {
  cart-drawer-items {
    overflow: visible;
  }

  /* .drawer__inner {
    overflow: scroll;
  } */
}

/* .cart-drawer .cart-item {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(3, 1fr);
  grid-template: repeat(1, 1fr) / repeat(2, 1fr);
  gap: 1.6rem;
  column-gap: 1.6rem;
  margin-bottom: 0;
} */
.cart-drawer .cart-item {
  display: grid;
  /* grid-template: repeat(1,1fr) / repeat(2,140px); */
  margin-bottom: 0;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: 147px 1fr;
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 20px;
}

.cart-drawer .cart-item__media {
  /* grid-row: 1 / 3; */
  grid-row: 1 / 2;
}

.cart-drawer .cart-item__image {
  /* max-width: 100%; */
  max-width: 120px;
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.cart-drawer .cart-items thead {
  margin-bottom: 0.5rem;
}

.cart-drawer .cart-items thead th:first-child,
.cart-drawer .cart-items thead th:last-child {
  width: 0;
  padding: 0;
}

.cart-drawer .cart-items thead th:nth-child(2) {
  width: 50%;
  padding-left: 0;
}

.cart-drawer .cart-items thead tr {
  display: table-row;
  margin-bottom: 0;
}

.cart-drawer .cart-items th {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}


.cart-drawer .cart-item .loading__spinner {
  right: 5px;
  padding-top: 2.5rem;
}

.cart-drawer .cart-items td {
  padding-top: 1.7rem;
}

.cart-drawer .cart-item > td + td {
  padding-left: 1rem;
}

.cart-drawer .cart-item__details {
  width: auto;
  grid-column: 2 / 4;
}

.cart-drawer .cart-item__totals {
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.cart-drawer.cart-drawer .cart-item__price-wrapper > *:only-child {
  margin-top: 0;
}

.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.cart-drawer .unit-price {
  margin-top: 0.6rem;
}

.cart-drawer .cart-items .cart-item__quantity {
  padding-top: 0;
  /* grid-column: 4 / 4; */
  grid-column: 3 / 3;
}

@media screen and (max-width: 749px) {
  .cart-drawer .cart-item cart-remove-button {
    margin-left: 0;
    margin-top:8px;
  }
  .cart-drawer .cart-item__image{
    max-width: 130px;
    height: 130px;
    width: 130px;
  }
  .drawer__inner{
    max-width: 100vw;
  }
  .tabbed-facets__tabs .drawer__close{
    /* display:block; */
    display:flex;
    justify-content: end;
    align-items: flex-start;
    top:15px;
  }
  .drawer__header-empty .drawer__close{
    /* display:block; */
    display:flex;
    justify-content: flex-end;

  }
  #newCartDrawer .cart-drawer .cart-item {
    height: 150px;
  }
  .drawer__close{
    top: 17px;
    right: 18px;
  }

  .drawer__header-empty {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.cart-drawer__footer > * + * {
  margin-top: 1rem;
}

.cart-drawer .totals {
  justify-content: space-between;
}

.cart-drawer .price {
  line-height: 1;
}

.cart-drawer .tax-note {
  margin: 1.2rem 0 2rem auto;
  text-align: left;
}

.cart-drawer .product-option dd {
  word-break: break-word;
}

.cart-drawer details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.cart-drawer .cart__checkout-button {
  max-width: none;
}

.drawer__footer .cart__dynamic-checkout-buttons {
  max-width: 100%;
}

.drawer__footer #dynamic-checkout-cart ul {
  flex-wrap: wrap !important;
  flex-direction: row !important;
  margin: 0.5rem -0.5rem 0 0 !important;
  gap: 0.5rem;
}

.drawer__footer [data-shopify-buttoncontainer] {
  justify-content: flex-start;
}

.drawer__footer #dynamic-checkout-cart ul > li {
  flex-basis: calc(50% - 0.5rem) !important;
  margin: 0 !important;
}

.drawer__footer #dynamic-checkout-cart ul > li:only-child {
  flex-basis: 100% !important;
  margin-right: 0.5rem !important;
}

@media screen and (min-width: 750px) {
  .drawer__footer #dynamic-checkout-cart ul > li {
    flex-basis: calc(100% / 3 - 0.5rem) !important;
    margin: 0 !important;
  }

  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2) ~ li,
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4) ~ li {
    flex-basis: calc(50% - 0.5rem) !important;
  }
}

cart-drawer-items::-webkit-scrollbar {
  width: 3px;
}

cart-drawer-items::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.7);
  border-radius: 100px;
}

cart-drawer-items::-webkit-scrollbar-track-piece {
  margin-top: 31px;
}

.cart-drawer .quantity-popover-container {
  padding: 0;
}

.cart-drawer .quantity-popover__info.global-settings-popup {
  transform: translateY(0);
  top: 100%;
}

.cart-drawer .cart-item__error {
  margin-top: 0.8rem;
}

.cart-drawer .quantity-popover__info + .cart-item__error {
  margin-top: 0.2rem;
}

@media screen and (min-width: 750px) {
  .cart-drawer .cart-item__quantity--info quantity-popover > * {
    padding-left: 0;
  }

  .cart-drawer .cart-item__error {
    margin-left: 0;
  }
}

.color_v_name{
  font-weight:bold;
}




.terms-conditions {
  position: fixed;
  bottom: 95px;
  width: 100%;  
  left: 0;
}
.terms-conditons-inner {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 9px 0;
}

.terms-conditons-inner p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #5C5C5C;
  margin: 0;
  padding: 3px 0;
}

.terms-conditons-inner p a{
  color: #5C5C5C;
}

.terms-conditons-inner input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0;
  appearance: none;
  background-color: transparent;
  border: 1.38px solid #5C5C5C;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

.terms-conditons-inner input[type="checkbox"]:checked {
  background: url('https://cdn.shopify.com/s/files/1/0885/3834/9878/files/check-mark.svg?v=1740651984') no-repeat center;
  background-size: auto;
  border-color: transparent;
  border: 1.38px solid #5C5C5C;
  border-radius: 3px;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.gokwik-checkout .button.disable_btn {
  opacity: 0.5;
  pointer-events: none;
  cursor: none;
}


.undo-message {
  display: none !important;
  position: fixed;
  bottom: 82px;
  left: 50%;
  transform: translate(-50%);
  color: #949598;
  font-size: 12px;
  line-height: 18px;
  transition: opacity .3s ease-in-out;
  font-weight: 400;
  width: 100%;
  max-width: 260px;
}
.undo-message-content {
  display: none;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  padding: 8px 13px;
  border-radius: 80px;
  box-shadow: -4px 9px 25px -6px #0000001A;
}
.undo-message-content p {
  margin: 0;
}
.undo-message-content p svg{
  margin-right: 6px;
}
.undo-message-content p:after {
  content: '';
  border: 1px solid #C7C8CA;
  margin-left: 10px;
  margin-right: 8px;
  position: absolute;
  height: 18px;
}
.undo-message a {
  color: #1a1a1a;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
}


#sm-widget-btn.snap_emi_txt_minicart {
  bottom: -35px;
  margin-bottom: 82px !important;
}

/* also bought together */
.also-bought-together{
  width: 100%;
}
.also-like-product-content {
  display: flex;
  gap: 27px;
  background: #F9F9F9;
  padding: 15px 0px;
  align-items: center;
  border-radius: 4px;
}
img.also-like-image {
  width: 100%;
  max-width: 120px;
}
p#also-like-product-title,
.also-bought-together h4 ,
p#also-like-product-title .product_name_first {
  font-size: 12px;
  line-height: 17.1px;
  letter-spacing: -0.6px;
}
p#also-like-product-title{
  margin-bottom: 12px;
  font-weight: 700;
}
p#also-like-product-title .product_name_first{
  font-weight: 400;
}
p#also-like-product-title .color-way{
  font-weight: 700;
}
.also-bought-together h4 {
  margin-bottom: 20px;
  font-weight: 700;
}
p.also-bought-price {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 23px;
  color: #000000;
}
.also-bought-original-price{
  text-decoration: line-through; 
  color: #e60013;
  margin-right: 8px; 
  display: inline-block;
}
.also-like-product-content a {
  text-decoration: none;
  color: #1a1a1a;
}
.also-bought-button {
  font-size: 8px;
  line-height: 12px;
  background: #1a1a1a;
  color: #fff !important;
  padding: 8px 31px;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
}

.also-like-product {
  margin-bottom: 35px;
}

@media screen and (max-width: 749px) {
  .undo-message{
    width: 280px;
  }
  
}