slideshow-component {
  position: relative;
  display: flex;
  flex-direction: column;
}

slideshow-component .slideshow.banner {
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  gap: 0;
  overflow-y: hidden;
}

.slideshow__slide {
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  visibility: visible;
}

@media screen and (max-width: 749px) {
  .slideshow--placeholder.banner--mobile-bottom.banner--adapt_image .slideshow__media,
  .slideshow--placeholder.banner--adapt_image:not(.banner--mobile-bottom) {
    /* height: 28rem; */
    height: 69rem;
  }
}

@media screen and (min-width: 750px) {
  .slideshow--placeholder.banner--adapt_image {
    /* height: 56rem; */
    height: 68rem;

  }
}

.slideshow__text.banner__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* max-width: 54.5rem; */
  max-width: 70.5rem;
}

.slideshow__text > * {
  max-width: 100%;
}

@media screen and (max-width: 749px) {
  slideshow-component.page-width .slideshow__text {
    border-right: var(--text-boxes-border-width) solid rgba(var(--color-foreground), var(--text-boxes-border-opacity));
    border-left: var(--text-boxes-border-width) solid rgba(var(--color-foreground), var(--text-boxes-border-opacity));
  }

  .banner--mobile-bottom .slideshow__text.banner__box {
    max-width: 100%;
  }

  .banner--mobile-bottom .slideshow__text-wrapper {
    flex-grow: 1;
  }

  .banner--mobile-bottom .slideshow__text.banner__box {
    height: 100%;
  }

  .banner--mobile-bottom .slideshow__text .button {
    flex-grow: 0;
  }

  .slideshow__text.slideshow__text-mobile--left {
    align-items: flex-start;
    text-align: left;
  }

  .slideshow__text.slideshow__text-mobile--right {
    align-items: flex-end;
    text-align: right;
  }
}

@media screen and (min-width: 750px) {
  .slideshow__text.slideshow__text--left {
    align-items: flex-start;
    text-align: left;
  }

  .slideshow__text.slideshow__text--right {
    align-items: flex-end;
    text-align: right;
  }
}

.slideshow:not(.banner--mobile-bottom) .slideshow__text-wrapper {
  height: 100%;
}

@media screen and (min-width: 750px) {
  .slideshow__text-wrapper.banner__content {
    height: 100%;
  }
}

.slideshow__controls {
  border: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.slideshow__controls--top {
  order: 2;
  z-index: 1;
}

@media screen and (max-width: 749px) {
  .slideshow__controls--border-radius-mobile {
    border-bottom-right-radius: var(--text-boxes-radius);
    border-bottom-left-radius: var(--text-boxes-radius);
  }
}

.spaced-section--full-width:last-child slideshow-component:not(.page-width) .slideshow__controls {
  border-bottom: none;
}

@media screen and (min-width: 750px) {
  .slideshow__controls {
    position: relative;
  }
}

slideshow-component:not(.page-width) .slider-buttons {
  border-right: 0;
  border-left: 0;
}

.slideshow__control-wrapper {
  display: flex;
}

.slideshow__autoplay {
  position: absolute;
  right: 0;
  border-left: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 749px) {
  slideshow-component.page-width .slideshow__autoplay {
    right: 1.5rem;
  }
  .slideshow__autoplay{
    display:none !important;
  }
  .slideshow__control-wrapper{
    justify-content: center;
  }
}

@media screen and (min-width: 750px) {
  .slideshow__autoplay.slider-button {
    position: inherit;
    margin-left: 0.6rem;
    padding: 0 0 0 0.6rem;
    border-left: 0.1rem solid rgba(var(--color-foreground), 0.08);
    display:none;
  }
}

.slideshow__autoplay .icon.icon-play,
.slideshow__autoplay .icon.icon-pause {
  display: block;
  position: absolute;
  opacity: 1;
  transform: scale(1);
  transition: transform 150ms ease, opacity 150ms ease;
  width: 0.8rem;
  height: 1.2rem;
}

.slideshow__autoplay .icon.icon-play {
  height: 1rem;
}

.slideshow__autoplay path {
  fill: rgba(var(--color-foreground), 0.75);
}

.slideshow__autoplay:hover path {
  fill: rgb(var(--color-foreground));
}

@media screen and (forced-colors: active) {
  .slideshow__autoplay path,
  .slideshow__autoplay:hover path {
    fill: CanvasText;
  }
}

.slideshow__autoplay:hover svg {
  transform: scale(1.1);
}

.slideshow__autoplay--paused .icon-pause,
.slideshow__autoplay:not(.slideshow__autoplay--paused) .icon-play {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.8);
}







/* #Slide-template--24036143038768__slideshow_f88WAr-2 a.banner-url {
    display: none;
} */
#Slide-template--24036143038768__slideshow_f88WAr-2 .banner__text .top_content {
    max-width: 470px;
    margin: auto;
    text-align: center;
}
#Slide-template--24036143038768__slideshow_f88WAr-2 .slideshow__text-wrapper.banner__content {
    height: 100%;
}
#Slide-template--24036143038768__slideshow_f88WAr-2 .slideshow__text.banner__box {
    /* padding: 0px; */
    /* height: 100%; */
}
#Slide-template--24036143038768__slideshow_f88WAr-2 .banner__text.rte {
    /* height: 100%;
    display: flex;
    flex-direction: column; */
}
.top_content img {
    max-width: 222px;
    margin-bottom: 25px;
    width: 100%;
}
.top_content p {
    color: #EAE8E8;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.2px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 8px;
}
.bottom_content {
    max-width: 340px;
    width: 100%;
    margin: auto;
}
.bottom_content a {
    font-family: Public Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 11.25px;
    letter-spacing: -0.5px;
    text-align: center;
    vertical-align: middle;
    background: #FFF;
    width: 100%;
    display: flex;
    height: 38px;
    align-items: center;
    justify-content: center;
    text-decoration: unset;
    border-radius: 100px;
}
.timer_block {
    display: flex;
    align-items: center;
    gap: 33px;
    justify-content: center;
    margin-bottom: 28px;
}
div.time_info {
    display: grid;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.time_info span {
    font-family: Public Sans;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.5px;
    text-align: center;
    vertical-align: middle;
    color: #FFF;
}
.time_info h2 {
    font-family: Public Sans;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.1px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0px;
    color: #FFF;
position: relative;
}
.time_info h2:after {
    content: ":";
    font-family: Public Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.5px;
    text-align: center;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: -17px;
}
.time_info:last-child h2:after{
  display: none;
}
@media(max-width: 767px){
  #Slide-template--24036143038768__slideshow_f88WAr-1 .banner__text.rte {
    /* max-width: 370px; */
}
.bottom_content {
    max-width: 233px;
    padding-bottom: 64px;
}
.timer_block {
    gap: 22px;
    margin-bottom: 20px;
}
div.time_info {
    gap: 6px;
}
.time_info span {
    font-size: 8px;
    line-height: 8.25px;
    letter-spacing: -.5px;
}
.time_info h2 {
    font-size: 32px;
    line-height: 32px;
}
.time_info h2:after {
    font-size: 11px;
    line-height: 11px;
    right: -12px;
}
  .bottom_content a {
    font-size: 9px;
    height: 26px;
    line-height: 7.85px;
  }
}
