@font-face {
    font-family: 'Druk Trial';
    src: url('https://cdn.shopify.com/s/files/1/0823/6787/3328/files/Druk-BoldItalic-Trial.otf?v=1767179779') format('opentype');
    font-weight: 700;
    font-style: normal;
}

.ds_home_text .rich-text__wrapper,
.ds_home_text .rich-text__blocks {
    width: 100%!important;
    max-width: 100%!important;
}
.ds_home_text .rich-text__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.72px;
}
.ds_home_text .rich-text__buttons {
    margin-top: 32px;
}
.ds_home_text .rich-text__buttons a.button {
    width: 178px;
    height: 34px;
    border: 1px solid #1A1A1A!important;
    padding: 0px;
    background: #FFF;
    color: #1A1A1A;
    border-radius: 4px;
    opacity: 1;
    font-family: Public Sans;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.6px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    min-height: unset;
    transition: all 0.2s ease-in;
}
.ds_home_text .rich-text__buttons a.button:hover{
    background: #1A1A1A;
    color: #FFF;
}
.ds_moto_banner1 .slideshow__text.banner__box {
    top: 0;
    padding: 0px!important;
}
h2.banner__heading.inline-richtext.h1 {
    font-family: 'Druk Trial';
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 0;
    color: #FFF;
    text-transform: uppercase;
}