@font-face {
    font-family: 'Druk Text Wide Trial';
    src: url('https://cdn.shopify.com/s/files/1/0823/6787/3328/files/DrukWide-BoldItalic-Trial.otf?v=1766385691') format('opentype');
    font-weight: 700;
    font-style: normal;
}

.ds_home_text .rich-text__wrapper,
.ds_home_text .rich-text__blocks {
    width: 100%!important;
    max-width: 100%!important;
}
.ds_home_text .rich-text__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.72px;
}