.ds_home_text .rich-text__wrapper,
.ds_home_text .rich-text__blocks {
    width: 100%!important;
    max-width: 100%!important;
}
.ds_home_text .rich-text__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.72px;
}