@font-face {
    font-family: 'Druk Trial';
    src: url('https://cdn.shopify.com/s/files/1/0823/6787/3328/files/Druk-BoldItalic-Trial.otf?v=1767179779') format('opentype');
    font-weight: 700;
    font-style: normal;
}

.ds_home_text .rich-text__wrapper,
.ds_home_text .rich-text__blocks {
    width: 100%!important;
    max-width: 100%!important;
}
.ds_home_text .rich-text__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.72px;
}
.ds_home_text .rich-text__buttons {
    margin-top: 32px;
}
.ds_home_text .rich-text__buttons a.button {
    width: 178px;
    height: 34px;
    border: 1px solid #1A1A1A!important;
    padding: 0px;
    background: #FFF;
    color: #1A1A1A;
    border-radius: 4px;
    opacity: 1;
    font-family: Public Sans;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.6px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    min-height: unset;
    transition: all 0.2s ease-in;
}
.ds_home_text .rich-text__buttons a.button:hover{
    background: #1A1A1A;
    color: #FFF;
}
.ds_moto_banner1 .slideshow__text.banner__box {
    top: 0!important;
    padding: 0px!important;
    z-index: 3;
}
.ds_moto_banner1 h2.banner__heading.h1 {
    font-family: 'Druk Trial';
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 0;
    color: #FFF;
    text-transform: uppercase;
}
.ds_moto_banner1 .banner__buttons {
    margin-top: 32px!important;
}
.ds_moto_banner1 .banner__buttons a.button {
    width: 178px;
    height: 34px;
    border: 1px solid #FFFFFF !important;
    padding: 0px;
    background: transparent;
    color: #FFFFFF;
    border-radius: 4px;
    opacity: 1;
    font-family: Public Sans;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.6px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    min-height: unset;
    transition: all 0.2s ease-in;
}
.ds_moto_banner1 .banner__buttons a.button:hover {
    background: #FFFFFF;
    color: #1A1A1A;
}


.ds_moto_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: unset;
    border-radius: 4px;
    font-family: Inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.6px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
}


.two_column_inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.two_column_inner > * {
    position: relative;
}
.two_col_content {
    max-width: 325px;
    position: absolute;
    top: 185px;
    left: 35px;
}
.two_col_content h4 {
    margin: 0px;
    color: #FFF;
    font-family: Inter;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -1.3px;
}
.two_col_content p {
    margin: 6px 0px 18px;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.42px;
    vertical-align: middle;
    color: #FFF;
}
a.two_col_btn {
    width: 100%;
    height: 38px;
    border: 1px solid #FFFFFF;
    color: #FFF;
}
a.two_col_btn:hover{
    background: #FFFFFF;
    color: #1A1A1A;
}

.ds_moto_imgs_text_inner {
    display: grid;
    grid-template-columns: 450px 1fr;
    gap: 128px;
}
.ds_moto_content h4 {
    font-family: 'Druk Trial';
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0;
    margin: 0px;
}
.ds_moto_content .description > * {
    margin: 0px;
}
.ds_moto_content .description {
    margin: 8px 0px 32px;
    display: grid;
    gap: 8px;
    font-family: Public Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.7px;
    text-align: justify;
    vertical-align: middle;
}
.ds_moto_shop_btn {
    width: 100%;
    height: 38px;
    border: 1px solid #1A1A1A;
    color: #1A1A1A;
}
.ds_moto_shop_btn:hover{
    background: #1A1A1A;
    color: #FFFFFF;
}
.ds_moto_imgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.section--sliders-slide .container {
    margin-left: 0px;
    padding-left: 0px;
}
.sliders_slide_inner {
    display: grid;
    gap: 26px;
    grid-template-columns: 1fr 1fr;
}
.sliders_content_block img {
    width: 165px;
}
.sliders_content_block .description {
    margin: 16px 0px 32px;
    display: grid;
    gap: 12px;
    font-family: Public Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-align: justify;
}
.sliders_content_block .description > * {
    margin: 0px;
}
.slider_shop_btn {
    width: 305px;
    height: 38px;
    border: 1px solid #1A1A1A;
    color: #1A1A1A;
}
.slider_shop_btn:hover{
    background: #1A1A1A;
    color: #FFFFFF;
}
.image_slides_block {
    position: relative;
}
.all_sliders_slide {
    position: absolute;
    bottom: 64px;
    left: 50%;
    transform: translateX(-50%);
    background: #0000004D;
    padding: 6px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
    max-width: max-content;
    width: 95%;
}
.all_sliders_slide .slider_image.active {
    margin-right: 6px;
}
.slider_image.active:after {
    width: 2px;
    height: 100%;
    content: "";
    display: block;
    position: absolute;
    right: -7px;
    top: 0px;
    background: #FFF;
}
.all_sliders_slide .slider_image{
    position: relative;
    background: #FFFFFF;
    cursor: pointer;
}
.all_sliders_slide .slider_image img{
    width: 56px;
    height: 56px;
}


.products_marquee_wrapper {
  overflow: hidden;
  position: relative;
}
.marquee_product_block {
  flex: 0 0 auto;
  margin-right: 64px;
}
.products_marquee_wrapper:hover .marquee-track {
  animation-play-state: paused;
}
@keyframes marquee-scroll-products {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}
a.marquee_product_block {
    display: block;
    position: relative;
    width: 258px;
    height: auto;
    aspect-ratio: 1/1;
}
.marquee_product__content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    text-align: center;
    display: grid;
    gap: 10px;
}
.marquee_product__content .title,
.marquee_product__content .price {
    margin: 0px;
    color: #1a1a1a;
    text-decoration: unset;
    font-size: 12px;
    line-height: 12px;
    display: block;
    letter-spacing: -.36px;
}

@media (min-width: 576px) {
    .section--sliders-slide .container {
        max-width: calc(((100vw - 540px) / 2) + 540px);
    }
}
@media (min-width: 768px) {
    .section--sliders-slide .container {
        max-width: calc(((100vw - 720px) / 2) + 720px);
    }
}
@media (min-width: 992px) {
    .section--sliders-slide .container {
        max-width: calc(((100vw - 960px) / 2) + 960px);
    }
}
@media (min-width: 1200px) {
    .section--sliders-slide .container {
        max-width: calc(((100vw - 1140px) / 2) + 1140px);
    }
}
@media (min-width: 1400px) {
    .section--sliders-slide .container {
        max-width: calc(((100vw - 1320px) / 2) + 1320px);
    }
}